@import url('layout_style.css');

.corpo{
    line-height: initial;
}

/* Estilo do conteúdo principal */
main {
    margin-left: 200px; /* Ajusta a margem esquerda para evitar sobreposição com a barra lateral */
    padding: 20px; /* Espaçamento interno do conteúdo principal */
}

/*------------------------------------------------------------------------------*/

.relatorio{
    margin-top: 14.7vh;
}
.relat{
    display: none;
}
.botfi{
    display: none;
}
.section-pop-up{
    display: none;
}

.caminho{
    margin-top: -3vh;
    margin-left: 4%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 8%;
}
.home{
    color: #3572EF;
    text-decoration: none;
}
.link-relatorio{
    color: #9A9A9A;
    text-decoration: none;
}
.relator{
    font-size: 32px; /*tamanho da fonte*/
    font-weight: normal;  
    font-family: "Lexend";
    text-decoration: underline;  /*sublinhar*/
    color: #050C9C;
    margin-left: 1%;
}

.tabela{
    margin-top: 2%;
}
table {
    border-collapse: collapse;
    width: 100%;
} 
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.end {
    height: 4vh;
}
@media screen and (max-width: 800px){
    .corpo {
        line-height: 1.2em;
    }
    .side_items{
        flex-direction: column;
        display: none;
    }
    .menu_sand{
        display: initial;
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin-top: 135px;
        margin-left: 30px;
    }
    .sidebar_exibir{
        display: flex !important;
    }
    .img-senac{
        margin-left: 9%;
        margin-top: 3.5%;
        width: 21vw;
        height: 7vh;
    }
    .relatorio{
        margin-top: 4.7vh;
        margin-left: -3vw;
        display: flex;
        flex-direction: column;
    }
    ul{
        margin-right: 100px;
        color: black;
    }
   .dtr-data{
        color: gray;
        margin-right: 0px;
        height: 5px !important;
    } 
    .concl{
        width: 80%;
        margin-top: -5%;    
    }
    .relator{
        display: none;
    }
    .caminho{
        display: none;
    }
    .relat{
        display: flex;
        color: #050C9C;
        text-decoration: underline;
        font-size: 21px;
        margin-left: 75%;
        margin-top: -18%;
    }
    .tabela{
        margin-top: 8%;
        margin-left: 1%;
    }
}